In [1]:
import pandas as pd

In [2]:
column_names = ['account_id', 
                'name', 
                'point', 
                'call_count', 
                'total_call_time', 
                'total_exclusive_time', 
                'min_call_time', 
                'max_call_time', 
                'sum_of_squares', 
                'instances', 
                'language', 
                'app_name', 
                'app_id', 
                'scope', 
                'host', 
                'display_host', 
                'pid', 
                'agent_version', 
                'labels']

In [3]:
df = pd.read_csv(r'C:\Users\oiica\OneDrive\Рабочий стол\Кейс 1\data.tsv', sep='\t', header=None, names=column_names)

df.head()

C:\Users\oiica\AppData\Local\Temp\ipykernel_6072\2107768177.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'C:\Users\oiica\OneDrive\Рабочий стол\Кейс 1\data.tsv', sep='\t', header=None, names=column_names)

,account_id,name,point,call_count,total_call_time,total_exclusive_time,min_call_time,max_call_time,sum_of_squares,instances,language,app_name,app_id,scope,host,display_host,pid,agent_version,labels
0,1,AgentCheck/CircuitBreaker/tripped/all,2024-04-15 23:32:00,0.0,0.0,0.0,0.0,0.0,0.0,1.0,java,[GMonit] Collector,17592186045423,NaN,575f5ba20b4b,575f5ba20b4b,1,8.5.0,{}
1,1,AgentCheck/CircuitBreaker/tripped/all,2024-04-15 23:33:00,0.0,0.0,0.0,0.0,0.0,0.0,1.0,java,[GMonit] Collector,17592186045423,NaN,575f5ba20b4b,575f5ba20b4b,1,8.5.0,{}
2,1,AgentCheck/CircuitBreaker/tripped/all,2024-04-15 23:34:00,0.0,0.0,0.0,0.0,0.0,0.0,1.0,java,[GMonit] Collector,17592186045423,NaN,575f5ba20b4b,575f5ba20b4b,1,8.5.0,{}
3,1,AgentCheck/CircuitBreaker/tripped/all,2024-04-15 23:35:00,0.0,0.0,0.0,0.0,0.0,0.0,1.0,java,[GMonit] Collector,17592186045423,NaN,575f5ba20b4b,575f5ba20b4b,1,8.5.0,{}
4,1,AgentCheck/CircuitBreaker/tripped/all,2024-04-15 23:36:00,0.0,0.0,0.0,0.0,0.0,0.0,1.0,java,[GMonit] Collector,17592186045423,NaN,575f5ba20b4b,575f5ba20b4b,1,8.5.0,{}

In [5]:
df.labels.unique()

array(['{}'], dtype=object)

In [8]:
import pandasql as psql

query = """
select
 point as time,
 sum(total_call_time) * 1.0 / sum(call_count) as "Web Response"
from df
where
 language = 'java'
 and app_name = '[GMonit] Collector'
 and scope = ''
 and name = 'HttpDispatcher'
group by point
order by point
"""

result = psql.sqldf(query, locals())

MemoryError: